@using Application.Common.Models.Log;

<div class="col terminal space shadow">
            <div class="top">
                <div class="btns">
                    <span class="circle red"></span>
                    <span class="circle yellow"></span>
                    <span class="circle green"></span>
                </div>
                <div class="title">bash -- 70x32</div>
            </div>
            <pre class="body">
                @foreach (var log in logs)
                {
                    <p class="terminal-line">@log.Message | @log.SentOn.ToString("g")</p>
                }
            </pre>
        </div>

@code {
    [Parameter]
    public List<LogDto> logs { get; set; }
}